body {
  background-color: rgb(255, 255, 255);
}

.divBody {
  background-color: rgb(255, 255, 255);
  min-height: 75vh;
  padding: 1rem;
}

/* pie de la pagina */
footer {
  padding: 2rem;
  background-color: rgb(250, 250, 255);
}
.navbar-brand {
  color: rgb(167, 167, 177);
  font-size: 1.5rem;
}

.btn-danger {
  margin: 10px; /* Añade espacio entre los botones */
}
.tituloPagina {
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  border-bottom-style: solid;
  border-color: rgb(216, 40, 40);
  border-bottom-width: thin;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
}

/* todos los formularios */

/* espacio en los botones contenidos en un div con esta clase */
.botones button {
  margin: 0em 0.5em 0.5em 0em;
}

/* todos los labels menos los de los radio y check */

/*<=576*/
@media only screen and (max-width: 575px) {
  label:not([class^="custom-control"]) {
    margin-right: 0em;
    margin-top: 0.3rem; /* para separar grupo label/input */
  }
}

/*>=576*/
@media only screen and (min-width: 576px) {
  .inputMedio {
    width: 12em;
  }
  .inputChico {
    width: 7em;
  }
}

.pyBadge {
  background-color: #6c757d;
  color: white;
  /* font-size: 1.1em; */
  display: inline-block;
  padding: 0.35em 0.4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* mensajes de validacion */
.validacion {
  color: red;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 1em;
  padding-bottom: 0.5em;
}

/* mensajes de alerta al buscar y grabar */
.mensajesAlert {
  /* color: #495057; */
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.paginador {
  background-color: #e9ecef;
  padding: 0.5rem 1rem 0rem 1rem;
  margin-top: -1rem; /* para pegarlo a la tabla */
}

/* todos los input a mayusculas, y no sus placeholders*/
input {
  text-transform: uppercase;
  /* margin-bottom: 0.2em;  */
  /*separa renglones*/
}
::placeholder {
  text-transform: none;
}

/* encabezados de tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center; /* Centra el texto */
  vertical-align: middle; /* Asegura alineación vertical */
  padding: 10px; /* Espaciado para mejor visualización */
}

th {
  background-color: #008080; /* Color de encabezado */
  color: white;
}

td {
  border-bottom: 1px solid #ddd; /* Línea divisoria */
}

/* Para los botones de acciones */
td .acciones {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre botones */
}

/* redes al pie de pagina */
.redes {
  background-color: blue;
  color: white;
  padding: 0.4em;
  margin: 0.3em;
  border-radius: 1em;
}
